<button hx-post="{% url 'admin_faq_toggle' faq.pk %}" 
        hx-swap="outerHTML"
        class="relative inline-flex h-6 w-11 flex-shrink-0 cursor-pointer rounded-full border-2 border-transparent transition-colors duration-200 ease-in-out focus:outline-none {% if faq.is_active %}bg-green-500{% else %}bg-gray-200{% endif %}">
    <span class="sr-only">Durum Değiştir</span>
    <span aria-hidden="true" 
          class="pointer-events-none inline-block h-5 w-5 transform rounded-full bg-white shadow ring-0 transition duration-200 ease-in-out {% if faq.is_active %}translate-x-5{% else %}translate-x-0{% endif %}">
    </span>
</button>
